# templates/logrotate.j2
/var/log/messages {
    weekly
    rotate 4
    compress
    delaycompress
    missingok
    notifempty
    sharedscripts
    postrotate
        /bin/kill -HUP $(cat /var/run/syslogd.pid 2>/dev/null) 2>/dev/null || true
    endscript
}

/var/log/secure {
    weekly
    rotate 4
    compress
    delaycompress
    missingok
    notifempty
}

/var/log/maillog {
    weekly
    rotate 4
    compress
    delaycompress
    missingok
    notifempty
}

/var/log/cron {
    weekly
    rotate 4
    compress
    delaycompress
    missingok
    notifempty
}

/var/log/spooler {
    weekly
    rotate 4
    compress
    delaycompress
    missingok
    notifempty
}

/var/log/boot.log {
    weekly
    rotate 4
    compress
    delaycompress
    missingok
    notifempty
}